[report]
exclude_lines =
    raise NotImplementedError
    raise ImproperlyConfigured
    raise Http404
    raise PermissionDenied
    def __repr__
    def __str__
    pragma: no cover
    assert


[run]
omit =
    */cms_plugins.py
    */urls.py
    */apps.py

